html {
	overflow-x: hidden !important;
}
body {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	color: $midnight-blue;
	font-family: $font-main;
	background-color: $white;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.none {
	display: none !important;
}

a {
	color: $midnight-blue;
	transition: color 0.2s ease-in;

	&:hover {
		color: $primary;
	}
}
.small-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	&.nav-item {
		color: $gray;
	}
	&.w--current {
		color: $midnight-blue;
	}
}

::-webkit-scrollbar {
	width: 7px; /* Измените значение здесь на желаемую ширину */
}

/* Добавьте следующую строку, если вы хотите изменить цвет фона скролл бара */
::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Замените на желаемый цвет фона */
}

/* Добавьте следующую строку, если вы хотите изменить цвет полосы прокрутки */
::-webkit-scrollbar-thumb {
	background-color: #888; /* Замените на желаемый цвет полосы прокрутки */
	border-radius: 30px;
}

//TODO UI KIT

%card {
	color: $main-gray;
	font-family: $font-main;
	transition: all 0.35s ease;
}

.ocean {
	color: $ocean;
}
.dark-ocean {
	color: $dark-ocean;
}
.motley {
	background: linear-gradient(
		270deg,
		#ff5d4d -6.99%,
		#ec489a 8.89%,
		#a042d9 27.03%,
		#8241ef 47.45%,
		rgba(66, 102, 248, 0.99) 65.59%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.letter-spacing-1 {
	letter-spacing: 1px;
}

.h1 {
	font-size: 75px;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 1px;
}
.h2 {
	font-size: 45px;
	font-weight: 600;
	line-height: normal;
}
.h2-l {
	font-size: 45px;
	line-height: normal;
}

.h3 {
	font-size: 29px;
	line-height: 38.4px;
}
.h4 {
	font-size: 20px;
	line-height: 26px;
}
.h5 {
	font-size: 18px;
	line-height: 24px;
}
.h5-5 {
	font-size: 15px;
	line-height: 19.2px;
}

.text {
	font-size: 15px;
	line-height: 20px;
}

.text-m {
	font-size: 15px;
	line-height: 19.2px;
}

.text-q {
	font-size: 22px;
	line-height: 31.2px;
	letter-spacing: 0.72px;
}

.text-light {
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
}
