html {
	overflow-x: hidden !important;
}
body {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	color: $midnight-blue;
	font-family: $font-main;
	background-color: $white;

	background-image: url("./../img/main_Img/grid-bg.svg");
	background-position: 0 0;
	background-repeat: repeat-y;
	background-size: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
	&--1200 {
		max-width: 1230px;
	}
	&--1220-old {
		max-width: 1220px;
	}
	&--1220 {
		max-width: 1250px;
	}
	&--1300 {
		max-width: 1330px;
	}
	&--1330 {
		max-width: 1360px;
	}
}

.none {
	display: none !important;
}

.small-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	&.nav-item {
		color: $gray;
	}
	&.w--current {
		color: $midnight-blue;
	}
}

::-webkit-scrollbar {
	width: 7px; /* Измените значение здесь на желаемую ширину */
}

/* Добавьте следующую строку, если вы хотите изменить цвет фона скролл бара */
::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Замените на желаемый цвет фона */
}

/* Добавьте следующую строку, если вы хотите изменить цвет полосы прокрутки */
::-webkit-scrollbar-thumb {
	background-color: #888; /* Замените на желаемый цвет полосы прокрутки */
	border-radius: 30px;
}

//TODO UI KIT

%card {
	color: $main-gray;
	font-family: $font-main;
	transition: all 0.35s ease;
}

.ocean {
	color: $ocean;
}
.dark-ocean {
	color: $dark-ocean;
}
.red {
	color: $red;
}
.dark-red {
	color: $dark-red;
}
.green {
	color: $green;
}

.motley {
	background: linear-gradient(
		270deg,
		#ff5d4d -6.99%,
		#ec489a 8.89%,
		#a042d9 27.03%,
		#8241ef 47.45%,
		rgba(66, 102, 248, 0.99) 65.59%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.letter-spacing-1 {
	letter-spacing: 1px;
}
.fw500 {
	font-weight: 500;
}
.fw400 {
	font-weight: 400;
}
.fw300 {
	font-weight: 300;
}
.text-strikethrough {
	color: #919191;
	font-size: 15px;
	line-height: 19.2px; /* 128% */
	text-decoration-line: line-through;
}

.h1 {
	font-size: 75px;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 1px;
}
.h2 {
	font-size: 45px;
	font-weight: 600;
	line-height: normal;
}
.h2-l {
	font-size: 45px;
	line-height: normal;
}

.h2-h {
	font-size: 32px;
	font-weight: 500;
	line-height: 48px;
}

.h3 {
	font-size: 29px;
	line-height: 38.4px;
}
.h4 {
	font-size: 20px;
	line-height: 26px;
}
.h5 {
	font-size: 18px;
	line-height: 24px;
}
.h5-5 {
	font-size: 15px;
	line-height: 19.2px;
}

.text {
	font-size: 15px;
	line-height: 20px;
}

.text-m {
	font-size: 15px;
	line-height: 19.2px;
}

.text-q {
	font-size: 22px;
	line-height: 31.2px;
	letter-spacing: 0.72px;
}

.text-light {
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
}
