//@media screen and (height >= 1500px) {
//	.footer__item-title {
//		line-height: 27px;
//		font-size: 18px;
//	}
//	.footer__item {
//		line-height: 27px;
//		font-size: 14px;
//	}
//}
//@media screen and (height >= 1200px) and (height < 1500px) {
//	.footer__item-title {
//		line-height: 27px;
//		font-size: 18px;
//	}
//	.footer__item {
//		line-height: 27px;
//		font-size: 14px;
//	}
//}
//@media screen and (height >= 950px) and (height < 1200px) {
//	.footer__item-title {
//		line-height: 27px;
//		font-size: 18px;
//	}
//	.footer__item {
//		line-height: 27px;
//		font-size: 14px;
//	}
//}

//@media screen and (min-width: 1750px) {
//	.description-title {
//		width: 44%;
//	}
//}
//@media screen and (max-width: 1600px) {
//	.description-title {
//		width: 37%;
//	}
//}
//@media screen and (max-width: 1400px) {
//	.description-title {
//		width: 31%;
//	}
//}

//^ Горизонт Планшы

@media screen and (orientation: landscape) and (hover: none) and (max-height: 480px) {
	body,
	html {
		overflow: hidden;
	}
	.preloader-tablet {
		display: flex;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.footer__column:nth-child(2) {
		width: fit-content;
		margin-left: 20px;
	}
	.wrapping {
		white-space: normal;
	}

	.footer-wrapper {
		padding-top: 77px;
	}

	.footer__item {
		font-size: 12px;
		line-height: 12px;
		margin: 7.5px;
	}
	.footer__item-title {
		font-size: 14px;
		line-height: 14px;
		margin: 6.5px;
	}

	.footer__logo {
		min-width: 120px;
	}

	.footer__item-wrapper {
		margin-top: 13px;
		gap: 5px;
		&--small-marign {
			margin-top: 19px;
			margin-bottom: 82px;
		}
		&--fix-height {
			height: 147px;
		}
	}

	.footer__title-footer {
		height: 53px;
	}

	.footer__social-wrapper {
		margin-top: 12px;
		gap: 8px;
	}
	.small-mail {
		font-size: 11px;
	}
	.page-footer__bottom {
		margin-top: 100px;
		font-size: 14px;
		padding-top: 17px;
		padding-bottom: 17px;
	}
}

@media (orientation: portrait) and (hover: none) and (max-width: 1025px) {
	.header__wrapper-nav {
		padding: 5px;
	}

	.header__wrapper-button {
		gap: 25px;
	}

	.header__button {
		padding: 10px 25px;
	}
	.header__chat {
		margin: 0 0 -5px 0;
	}

	.description-title {
		width: 33%;
	}

	.description-title {
		height: 62%;
	}

	.main {
		align-items: normal;
	}
	.footer-wrapper {
		padding-top: 50px;
	}
	.page-footer__bottom {
		margin-top: 50px;
	}
	.footer {
		margin-top: 11.8%;
	}
}

@media screen and (max-width: 480px) {
	.main {
		padding-top: 50px;
	}

	body,
	html {
		overflow: auto;
	}

	.welcome {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 6vh;
		margin: 10vh 0 14vh 0;
		padding: 0;
	}
	.small-title {
		@include font-size(18 * 2);
		@include line-height(27 * 2);
	}

	.big-title {
		@include font-size(46 * 2);
		@include line-height(51 * 2);
	}

	.description-title {
		text-align: center;
		height: 100%;
		width: 86%;

		@include font-size(16 * 2);
		@include line-height(24 * 2);
	}

	.welcome__wrapper {
		gap: 2vh;
		align-items: center;
	}

	.header {
		padding-top: 13px;
		padding-bottom: 13px;
		background: $white;
	}
	.nav-mobil__header {
		padding-top: 38px;
	}
	.header__wrapper-nav,
	.header__wrapper-button {
		display: none;
	}

	.menu-button {
		display: block;
	}

	.footer__title-footer {
		height: max-content;
	}
	.footer__item-wrapper {
		margin-bottom: 4px;
		margin-top: 35px;
	}
	.page-footer__bottom {
		margin-top: 25px;
		padding: 8px 0;
	}
	.footer__item-title {
		font-size: 14px;
	}
	.footer__title-footer {
		margin-top: 50px;
		margin-bottom: 35px;
		font-size: 30px;
		font-weight: 400;
	}
	.footer {
		min-height: max-content;
		background-color: #fafafa;
		position: relative;
		z-index: 102;
	}
	.footer-wrapper {
		display: none;
	}
	.footer-wrapper-mob {
		display: flex;
	}

	.landing-footer {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 2.5px;
	}

	.footer__logo {
		width: 98px;
	}
	.button {
		padding: 3.75vw 14vw;
	}

	.accordion {
		margin-bottom: 40px;
		margin-top: 65px;
	}
	.footer__item-wrapper {
		margin-top: 0;
	}

	.header__logo {
		width: 105px;
		&-main {
			width: 83px;
		}
	}

	//! ui kit

	.h3.startt-11-aos.letter-spacing-1 {
		letter-spacing: 0px;
	}
	.h3.welcome__limiter-text {
		width: calc(100% - 60px);
		font-size: 17px;
		line-height: normal;
	}

	.h2-l,
	.h2-h,
	.h3.offer__title {
		font-size: 28px;
		font-weight: 400;
		line-height: normal;
	}

	.text,
	.text-m,
	.h3.startt-11-aos,
	.h4.offer__text {
		font-size: 13px;
		line-height: 21px;
	}

	.text.svg-move__text {
		font-size: 17px;
		line-height: normal;
	}

	.h5.startt-13-aos,
	.h5.startt-10-aos {
		font-size: 14px;
		font-weight: 500;
		line-height: 23px;
	}

	.signboards__points-wrapper > .points__wrapper > .text-m.points__info {
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
	}

	.h4.startt-13-aos,
	.h4.startt-10-aos {
		font-size: 17px;
		font-weight: 300;
		line-height: 26px;
	}

	.h3.signboards__price,
	.h3.signboards__title {
		font-size: 29px;
		line-height: 38.4px;
		letter-spacing: 1px;
	}

	.text-m.signboards__subtitle {
		font-size: 15px;
		line-height: 19.2px;
	}

	.h1 {
		font-size: 40px;
		font-weight: 500;
		letter-spacing: 2px;
		line-height: 40px;
	}

	.h3,
	.text-q {
		font-size: 18px;
		line-height: 25px;
	}

	.h3.svg-move__title {
		font-size: 26px;
		font-weight: 400;
		line-height: normal;
	}

	.h5 {
		font-size: 14px;
		line-height: 23px;
	}

	// mob style

	body {
		background-size: 450%;
	}

	.main {
		width: 100%;
		overflow: hidden;
	}

	.crystal {
		display: none;
	}

	.welcome {
		gap: 35px;
		margin-bottom: 0px;

		&--100 {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		&__limiter {
			&-title {
				padding-top: 0;
			}
			&-text {
				padding: 0;
			}
		}
	}

	.grade {
		display: none;
	}
	.grade-mob {
		display: flex;
	}
	.button {
		padding: 16px 40px;
	}

	.svg-move {
		margin-top: 0;

		&__relative-platform {
			height: 473px;
		}

		&__benefit-wrapper {
			top: 81px;

			height: 570px;

			flex-direction: column;
		}
		&__benefit-interior-wrapper {
			flex-direction: column;
			gap: 35px;
			flex-wrap: wrap;
		}

		&__info-wrapper {
			height: auto;
			gap: 25px;
		}

		&__left-left-lid {
			display: block;

			width: 137px;
			height: 229px;

			top: 57.5%;
			left: 34%;
		}
		&__left-lid {
			width: 186px;
			height: 308px;

			top: 50%;
			left: 41.5%;
		}
		&__right-lid {
			width: 137px;
			height: 229px;

			top: 57.5%;
			right: 34%;

			z-index: -1;
		}

		&__bottom-1-lid,
		&__bottom-2-lid {
			display: none;
		}

		&__main-bg {
			display: none;

			&:nth-child(2) {
				transform: translate(-50%, -2%);
				height: 473px;
				display: block;
			}
		}
	}

	.grad-white {
		display: flex;
	}

	.gif-swip {
		width: 62px;
		height: 62px;
	}

	.problems {
		margin-top: 140px;
		position: relative;

		&__gif-swip {
			display: flex;
		}
		&__title {
			margin-bottom: 130px;
		}

		&__gif-swip {
			top: 80px;
			right: 30px;
			width: 62px;
			height: 62px;
			position: absolute;
		}

		&__wrapper {
			flex-direction: column;
			flex-wrap: wrap;
			display: none;
		}

		&__item-wrapper {
			width: calc(100% - 30px);
			height: auto;
			gap: 60px;
		}

		&__item-title {
			width: 80%;
		}
	}

	.header__button {
		padding: 16px 40px;
	}

	.offer {
		padding-top: 0;
		margin-top: 0;

		&__wrapper {
			margin-top: 52px;
			gap: 60px;
		}

		&__info-wrapper {
			gap: 35px;
		}

		&__points-wrapper {
			margin-top: -10px;
		}

		&__item-wrapper {
			width: 100%;
			flex-wrap: wrap;
			flex-direction: column;
			gap: 190px;

			&:nth-child(2) {
				gap: 35px;
			}

			&:nth-child(3) {
				gap: 105px;
			}
		}

		&__svg-wrapper {
			width: 370px;
			height: 272.875px;

			&.startt-8-aos {
				background-image: url("./../img/core_Img/small-bg-mob.svg");
			}
		}
		&__title {
			max-width: 100%;
		}
		&__svg-item {
			&--1 {
				top: 42%;
				left: 25.5%;
			}
			&--2 {
				width: 151px;
				height: 170px;

				top: 63px;
				left: -5px;
			}
			&--3 {
				width: 210px;
				height: 200px;

				top: 48px;
				left: 80px;
			}
			&--4 {
				width: 151px;
				height: 170px;

				top: 63px;
				right: -5px;
			}

			&--5 {
				width: 279px;
				height: 106px;
			}
			&--6 {
				width: 279px;
				height: 109px;
				top: 84%;
			}
		}
	}

	.banner {
		margin: 60px 30px;
		background-image: url("./../img/core_Img/banner-mob.png");
		min-width: auto;
		width: 370px;
		height: 692px;
		padding: 40px 15px;
		align-items: start;

		&--100 {
			padding-top: 2210px;
			margin-top: -2210px;

			padding-bottom: 720px;
			margin-bottom: -720px;
		}

		&__info-wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			& > .h2-h {
				margin-top: 25px;
				margin-bottom: 30px;
			}

			& > .h4 {
				margin-bottom: 30px;
			}

			& > * > .header__button {
				max-width: 277px;
				width: 277px;
			}
		}
	}

	.price {
		width: 100%;
		padding-top: 0;
		margin-top: 0;

		gap: 35px;

		&__title-wrapper {
			gap: 35px;
		}

		&__button-wrapper {
			margin-bottom: 25px;
		}

		&__signboards-wrapper {
			flex-direction: column;
			width: 100%;
		}
	}

	.signboards {
		width: 100%;
	}

	.hover-popup {
		top: 176px;
		left: 86px;
	}

	.banner-2 {
		width: 370px;
		height: 696px;

		margin: 60px 30px;
		padding: 40px 15px;

		background-image: url("./../img/core_Img/banner-2-mob.png");

		&__wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			text-align: center;

			& > * > .header__button {
				max-width: 277px;
				width: 277px;
			}
		}

		&__robot {
			width: 402px;
			height: 402px;

			max-width: none;

			top: 300px;
			left: -16px;
		}
	}

	.questions {
		margin-top: 0;
		margin-bottom: 35px;

		&--100 {
			padding-top: 2505px;
			margin-top: -2505px;
		}

		&__title {
			margin-bottom: 60px;
		}
		&__wrapper {
			width: calc(100% - 30px);
		}
	}

	.accordions {
		padding: 20px 15.4px;

		&__wrapper {
			width: 100%;
		}

		&__header {
			gap: 14.4px;
		}

		&__answer {
			padding: 17px 35px 0;
		}
	}

	.container--1200 {
		padding: 0 30px;
	}

	.container--1220 {
		padding: 0 30px;
	}
}

@media (hover: hover) {
	.header__chat:hover {
		path {
			fill: #898989;
		}
	}

	.nav-item:not(.w--current):hover {
		background-color: #f2f2f2;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.header__button:hover,
	.hover-button {
		box-shadow: none;
		color: $gray;
		border: 1px solid $gray;
	}

	.hover-button {
		cursor: default;
	}

	//.small-text.w--current.hover-button:hover {
	//	color: $midnight-blue;
	//}
	//.hover-button:hover {
	//	background-color: $white;
	//	box-shadow: (1px 1px 43px rgba(0, 16, 71, 0.15));
	//	border: 1px solid $white;
	//}

	.header__logo-wrapper:hover {
		scale: 0.95;
		opacity: 0.8;
	}
	.header__logo:hover,
	.header__logo-main:hover {
		scale: 0.8;
		opacity: 0.8;
		filter: blur(0.5px);
	}

	.button--ocean {
		border: 2px solid $ocean;
		background-color: $ocean;
		color: $white;
		letter-spacing: 0.6px;

		&:hover {
			background-color: $white;
			border-color: $ocean;
			color: $ocean;

			.button__link {
				color: $ocean;

				&:hover {
					color: $ocean;
				}
			}
		}

		.button__link {
			color: $white;
		}
	}
	.price__button-wrapper > *:nth-child(2):hover {
		color: $white;
	}
	.ocean-hover:hover {
		color: $ocean !important;
	}
	.ocean-hover-2:hover {
		color: $white !important;
	}
	.button--ocean-reversal {
		border: 2px solid $white;
		background-color: $white;
		color: $ocean;
		letter-spacing: 0.6px;

		&:hover {
			background-color: $ocean;
			border-color: $white;
			color: $white;

			.button__link {
				color: $dark-ocean;

				&:hover {
					color: $dark-ocean;
				}
			}
		}

		.button__link {
			color: $white;
		}
	}

	a {
		color: $midnight-blue;
		transition: color 0.2s ease-in;

		&:hover {
			color: $primary;
		}
	}
}

@media (hover: none) {
	* {
		cursor: none !important;
	}

	.header__chat:active {
		path {
			fill: #898989;
		}
	}

	.nav-item:hover {
		background-color: #f2f2f200;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.nav-item:active {
		background-color: #f2f2f2;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.nav-item:not(.w--current):active {
		background-color: #f2f2f2;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.header__button:active,
	.hover-button {
		box-shadow: none;
		color: $gray;
		border: 1px solid $gray;
	}

	//.small-text.w--current.hover-button:active {
	//	color: $midnight-blue;
	//}
	//.hover-button:active {
	//	background-color: $white;
	//	box-shadow: (1px 1px 43px rgba(0, 16, 71, 0.15));
	//	border: 1px solid $white;
	//}
	.button--ocean {
		border: 2px solid $ocean;
		background-color: $ocean;
		color: $white;

		&:active {
			background-color: $white;
			border-color: $ocean;
			color: $ocean;

			.button__link {
				color: $ocean;

				&:active {
					color: $ocean;
				}
			}
		}

		.button__link {
			color: $white;
		}
	}
	.price__button-wrapper > *:nth-child(2):active {
		color: $white;
	}
	.ocean-hover:active {
		color: $ocean !important;
	}
	.ocean-hover-2:active {
		color: $white !important;
	}
	.button--ocean-reversal {
		border: 2px solid $white;
		background-color: $white;
		color: $ocean;

		&:active {
			background-color: $ocean;
			border-color: $white;
			color: $white;

			.button__link {
				color: $dark-ocean;

				&:active {
					color: $dark-ocean;
				}
			}
		}

		.button__link {
			color: $white;
		}
	}
	a {
		color: $midnight-blue;
		transition: color 0.2s ease-in;

		&:active {
			color: $primary;
		}
	}
}
