// Fonts
$font-main: "Roboto", sans-serif;
$font-footer: "Inter", sans-serif;

// Colors
$white: #fff;
$midnight-blue: #001047;
$primary: #1946da;
$gray: #999999;
$paragraph: #676c80;
$main-gray: #838b93;
