// Fonts
$font-main: "Roboto", sans-serif;
$font-footer: "Inter", sans-serif;

// Colors
$white: #fff;
$add-white: #f6f6f6;
$add-white-2: #e9e9e9;
$midnight-blue: #001047;
$primary: #1946da;
$gray: #999999;
$paragraph: #676c80;
$main-gray: #838b93;
$black: #000;
$ocean: #00c8fb;
$dark-ocean: #0066a2;
$light-blue: #3a86ff;
$red: #ff5752;
$gray-add: #eef0f2;
$gray-add-2: #919191;
$blue-gray: #eff6ff;
$yellow: #fff9ef;
$green: #0c8459;
$dark-red: #820c0b;
$purple: #a854f7;
