.main {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	padding-top: 170px;
}

.welcome {
	&--100 {
		padding-top: 170px;
		padding-bottom: 172px;
		margin-top: -170px;
		margin-bottom: -172px;
		width: 100%;
		background: #fff;
	}
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;

	&__limiter-title {
		padding-top: 40px;
		text-align: center;
		max-width: 614px;
	}

	&__limiter-text {
		padding: 66px 0;
		text-align: center;
		max-width: 1010px;
	}
}

.crystal {
	position: absolute;
	min-width: 353px;
	height: 304px;

	&-left {
		top: 0;
		left: -12%;
	}
	&-right {
		top: 0;
		right: -12%;
	}
}

.grade {
	margin-top: 66px;
	height: 44px;
}

.svg-move {
	width: 100%;
	position: relative;
	margin-top: 100px;

	&__main-bg {
		width: 1100px;
		height: 514px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0%);
		fill: rgba(217, 217, 217, 0.01);
		filter: drop-shadow(5px 5px 50px rgba(7, 7, 7, 0.2)) blur(1px);
	}

	&__component-shadow {
		border-radius: 11px;
		box-shadow: 1px 1px 40px 0px rgba(0, 0, 0, 0.15);
		&--2 {
			box-shadow: none;
			filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.25));
		}
		&--3 {
			box-shadow: none;
			filter: drop-shadow(1px 1px 20px rgba(0, 36, 83, 0.25));
		}
		&--4 {
			box-shadow: none;
			filter: drop-shadow(1px 1px 20px rgba(103, 64, 0, 0.25));
		}
	}

	&__relative-platform {
		width: 1100px;
		height: 514px;
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, -100%);
	}

	&__left-lid {
		top: -30.2%;
		left: -7.4%;
		position: absolute;
	}
	&__right-lid {
		top: -29.8%;
		right: -6.7%;
		position: absolute;
	}
	&__bottom-1-lid {
		top: 35.6%;
		right: -8.4%;
		position: absolute;
	}
	&__bottom-2-lid {
		top: 60.4%;
		right: 9.3%;
		position: absolute;
	}
	&__benefit-wrapper {
		margin-top: -555px;
		height: 225px;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		top: 0;
		width: 100%;
		background-color: #fff;
		border: 3px solid #f6f6f6;
		border-left: 0;
		border-right: 0;
	}
	&__benefit-interior-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;
		width: 1100px;
	}
	&__info-wrapper {
		height: 140px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		width: 33.3%;
	}
	&__title {
		text-align: center;
	}
	&__text {
		text-align: center;
	}
}

.problems {
	margin-top: 85px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__title {
		margin-bottom: 80px;
	}
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 37px;
	}
	&__item-wrapper {
		width: 33.3%;
		height: 568px;

		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 50px;
	}

	&__info-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 32px;
	}
	&__image {
		width: 368px;
		height: 245px;
		filter: drop-shadow(1px 1px 18px rgba(0, 0, 0, 0.25));
	}
	&__item-title {
		text-align: center;
	}

	&__points-wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

.points {
	&__wrapper {
		display: flex;
		gap: 16px;
		align-items: start;
	}
}

.offer {
	margin-top: 105px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__wrapper {
		margin-top: 81px;
		display: flex;
		flex-direction: column;
		gap: 117px;
	}
	&__item-wrapper {
		display: flex;
		gap: 142px;

		&:nth-child(2n) {
			flex-direction: row-reverse;
		}
	}
	&__svg-wrapper {
		width: 484px;
		height: 357px;

		background-image: url("./../img/core_Img/small-bg.png");
		background-size: cover;
		position: relative;

		&--2 {
			background-image: url("./../img/core_Img/small-bg-2.png");
			box-shadow: 1px 1px 40px 0px rgba(0, 0, 0, 0.15);
			border-radius: 16px;
		}
	}
	&__svg-item {
		position: absolute;

		&--1 {
			border-radius: 10px;

			width: 182px;
			height: 303px;

			top: 41%;
			left: 31.5%;
		}
		&--2 {
			width: 224px;
			height: 252px;

			top: 15%;
			left: -13%;
		}
		&--3 {
			width: 311px;
			height: 295px;

			top: 9%;
			left: 18%;
		}
		&--4 {
			width: 224px;
			height: 252px;

			top: 15%;
			right: -13%;
		}
		&--5 {
			border-radius: 6px;
			width: 345px;
			height: 131px;

			top: 37.5%;
			left: 15.3%;
		}
		&--6 {
			border-radius: 6px;
			width: 345px;
			height: 135px;

			top: 80.75%;
			left: 15.3%;
		}
	}
	&__info-wrapper {
		max-width: 574px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 17px;
	}
	&__title {
		max-width: 80%;
		&--none {
			max-width: 100%;
		}
	}
	&__text {
		max-width: 541px;
	}
	&__points-wrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-top: 8px;
	}
}

.circle {
	&-purple {
		z-index: -1;
		width: 219px;
		height: 164px;
		position: absolute;
		top: 150px;
		left: -120px;
		border-radius: 1000px;
		background: $purple;
		filter: blur(269.04998779296875px);
	}
	&-blue {
		z-index: -1;
		width: 223px;
		height: 223px;
		position: absolute;
		top: 17px;
		right: -93px;
		flex-shrink: 0;
		border-radius: 1000px;
		background: $light-blue;
		filter: blur(269px);
	}
}

.banner {
	&--100 {
		z-index: -2;
		width: 100%;
		padding-top: 710px;
		padding-bottom: 370px;
		margin-top: -710px;
		margin-bottom: -370px;
		background: $white;
	}
	margin-top: 185px;
	min-width: 1227px;
	height: 350px;
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	background-image: url("./../img/core_Img/banner.png");
	background-size: cover;
	padding: 55px 0px 40px 40px;

	&__info-wrapper {
		max-width: 500px;

		& > * {
			color: $white;
		}
		& > .header__button {
			max-width: 277px;
			justify-content: center;
			filter: drop-shadow(1px 1px 40px rgba(255, 255, 255, 0.5));
		}

		& > .h2-h {
			margin-top: 6px;
			margin-bottom: 24px;
		}
		& > .h4 {
			margin-bottom: 51px;
		}
	}
}

.price {
	margin-top: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 85px;
	flex-direction: column;

	&__title-wrapper {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 75px;
	}

	&__main-title {
	}

	&__button-wrapper {
		display: flex;
		filter: drop-shadow(1px 1px 43px rgba(0, 0, 0, 0.15));
		width: 240px;

		& > *:nth-child(1) {
			width: 50%;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		& > *:nth-child(2) {
			width: 50%;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			color: $ocean;
		}
	}

	&__signboards-wrapper {
		display: flex;
		justify-content: center;
		gap: 55px;
	}
}

.signboards {
	width: 315px;
	height: min-content;
	background-color: $gray-add;

	&:nth-child(2) {
		background-color: $blue-gray;
	}
	&:nth-child(3) {
		background-color: $yellow;
	}

	&__title-wrapper {
		text-align: center;
		padding: 21px 42px 20px;
		position: relative;
		background-color: $white;
		width: 100%;
		height: 125px;
		border-radius: 11px 11px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5px;
	}
	&__beta {
		position: absolute;
		top: -23px;
		right: -22px;
	}

	&__title {
	}
	&__subtitle {
		color: $gray-add-2;
	}
	&__price-wrapper {
		padding: 23px 23px 31px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		& > .header__button {
			width: 251px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__price-sale {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}
	&__price {
	}
	&__line {
		margin: 14px 0 28px;
	}
	&__points-wrapper {
		display: flex;
		flex-direction: column;
		gap: 22px;
		margin-top: 31px;
	}
}

.hover-popup {
	transition: all 0.3s ease;

	opacity: 0;
	pointer-events: none;

	width: 200px;
	height: 60px;

	position: absolute;
	background-color: $white;
	padding: 10px 12px;
	text-align: start;
	border-radius: 15px;
	top: 170px;
	left: 150px;
}

.banner-2 {
	margin-top: 210px;
	color: $white;

	width: 1023px;
	height: 349px;
	position: relative;

	background-image: url("./../img/core_Img/banner-2.png");
	background-size: cover;

	padding: 47px 26px 68px;

	display: flex;
	justify-content: end;

	&__wrapper {
		width: 508px;
		display: flex;
		flex-direction: column;

		& > .header__button {
			max-width: 277px;
			justify-content: center;
			filter: drop-shadow(1px 1px 40px rgba(255, 255, 255, 0.5));
		}
	}
	&__robot {
		width: 535px;
		height: 535px;

		position: absolute;
		top: -154px;
		left: -31px;
	}
	&__title {
	}

	&__subtitle {
		margin: 24px 0 57px;
	}
}

.questions {
	&--100 {
		padding-top: 205px;
		padding-bottom: 172px;
		margin-top: -205px;
		margin-bottom: -172px;
		width: 100%;
		background: #fff;
	}

	margin-top: 190px;
	margin-bottom: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__title {
		margin-bottom: 87px;
	}
	&__wrapper {
		position: relative;
	}
}

.circle-blue-2 {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 275px;
	left: -230px;
	flex-shrink: 0;
	border-radius: 1000px;
	background: rgba(0, 114, 255, 0.5);
	filter: blur(275px);
}

.accordions {
	position: relative;
	border-radius: 16px;
	border: 1px solid $add-white-2;
	background: $white;
	padding: 17px 27.5px;
	margin-bottom: 25px;

	&__wrapper {
		width: 900px;
	}

	&__header {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 26.5px;
		cursor: pointer;
	}

	&__icon {
		width: 19.2px;
		height: 19.2px;

		transition: all 0.3s ease-in-out;
	}

	&__answer {
		padding: 21px 48px 0;
	}

	&__content {
		overflow: hidden;
		height: 0;
		transition: all 0.35s ease-in-out;
	}
}
