.footer {
	min-height: 634px;
	background-color: #fafafa;
	position: relative;
	z-index: 102;
	padding-bottom: 0;
	width: 100%;
}

.footer-wrapper {
	padding-top: 77px;
	display: flex;
	justify-content: space-between;
}

.footer__column {
	width: max-content;
	//padding: 0 32px;
}
.footer__item {
	line-height: 27px;
	font-size: 12px;
	white-space: nowrap;
	display: block;
	font-family: $font-footer;
	font-weight: 400;
	color: $midnight-blue;
}
.footer__item-title {
	line-height: 27px;
	font-size: 16px;
	white-space: nowrap;
	display: block;
	font-family: $font-footer;
	font-weight: 600;
	color: $midnight-blue;
}

.footer__logo {
	width: 131px;
}

.footer__item-subtitle-top {
	margin-bottom: 50px;
	width: 95%;
	color: $paragraph;
	font-weight: 400;
	white-space: wrap;
	text-align: center;
	line-height: 24px;
}
.footer__item-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 33px;
	gap: 5px;
	&--small-marign {
		margin-top: 19px;
	}
	&--fix-height {
		height: 123px;
	}
}

.footer__title-footer {
	height: 53px;
	display: flex;
	align-items: center;
}

.footer__social-wrapper {
	margin-top: 6px;
	gap: 8px;
	display: flex;
	justify-content: start;
	flex-direction: row;
}
.footer__social-wrapper-mob {
	margin-top: 14px;
	gap: 8px;
	display: flex;
	justify-content: start;
	flex-direction: row;
}
.footer__social-item {
	width: 25px;
	transition: opacity 0.3s;
}
.footer__social-item.active {
	opacity: 0;
}
.page-footer__social-link svg {
	color: #4a4f55;
	transition: transform 0.6s cubic-bezier(0.2, 3, 0.4, 1) 0ms;
}

.page-footer__social-link:focus-visible svg,
.page-footer__social-link:hover svg {
	color: #000;
	transform: scale(1.12);
}

//! Плашка внизу
.page-footer__bottom {
	margin-top: 53px;
	font-size: 13px;
	color: #fff;
	background-color: #333436;
	padding-top: 17px;
	padding-bottom: 17px;
}
.page-footer__bottom-inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.landing-footer {
	color: #fff;
	transition: color 0.2s ease-in;
	&:hover {
		color: #9b9b9b;
	}
}

.footer-wrapper-mob {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	display: none;
	align-items: center;
	flex-direction: column;
}

//! аккордион
.accordion {
	width: 100%;
	margin-bottom: 50px;
}
.accordion-item {
	border-top: 1px solid #9ca4ad54; /* Рамка сверху */
	border-right: none; /* Рамка справа */
	border-left: none; /* Рамка слева */
	border-bottom: 1px solid #9ca4ad54;
	&--bottom {
		border-top: none;
		border-right: none; /* Рамка справа */
		border-left: none; /* Рамка слева */
		border-bottom: 1px solid #9ca4ad54; /* Рамка сверху */
	}
}
.accordion-button {
	font-weight: 600;
	font-size: 14px;
	line-height: 27px;
	width: 100%;
	text-align: left;
	padding: 12px 20px;
	border: none;
	background-color: #fafafa;
	cursor: pointer;
	outline: none;
	position: relative; /* Для позиционирования стрелки */
}

.accordion-button .arrow {
	position: absolute;
	right: 20px; /* Стрелка справа */
	top: 50%;
	transform: translateY(-50%); /* Центрирование по вертикали */
	background-image: url("./../img/main_Img/arrow.svg"); /* Путь к изображению стрелки */
	background-size: cover;
	width: 18px;
	height: 18px;
	transition: transform 0.3s ease; /* Плавный поворот */
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	background-color: fafafa;
	& > p {
		margin: 0px 20px 7px;
		font-size: 12px;
		line-height: 13px;
		font-weight: 400;
	}
	& > p:first-child {
		margin: 0px 20px 7px;
		font-size: 12px;
		line-height: 13px;
		font-weight: 400;
	}
	& > p:last-child {
		margin: 0px 20px 15px;
		font-size: 12px;
		line-height: 13px;
		font-weight: 400;
	}
	& > p > a {
		color: #676c80;
		z-index: 300;
		display: block;
	}
}

.accordion-button.active .arrow {
	transform: translateY(-50%) rotateZ(180deg); /* Поворот стрелки при активации */
}

.no-scroll {
	overflow: hidden;
}
